.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.SwipePad {
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 9;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

@media (max-width: 768px) {
    .joinCompanyLogo {
        height: 100px !important;
    }

    .swiper {
        height: 100px;

    }
}

/* Additional responsive styles for other screen sizes if necessary */
@media (max-width: 576px) {
    .joinCompanyLogo {
        height: 80px !important;
    }

    .swiper {
        height: 80px;
    }
}