.form-color{
    background-color: #DAD9D9;
    opacity: 0.6;
}
.banner{
    background: #ffffff;
  border: 1px solid #ebeaeaf1;
    border-radius: 3px;
}
.img-1,.img-3{
    height: 150px;
    width: 150px;
}
.img-2{
    height: 50px;
    width: 50px;
    margin: auto 0;
}
.items{
    border: 0.01px solid #ebeaeaf1;
    border-radius: 2px;
   
}
.report,.report-2{
    background: #ffffff;
    
   padding: 10px;
   border-radius: 3px;
}