.item-contain{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 1px 3px;
}
h2{
    font-weight: 500;
}
h3{
    font-weight: 500;
}
.item-contain:hover{
    border:0.3px solid #C6C6C6;
}
.img-log{
    height: 55px;
    width: 55px;
    border-radius: 30px;
    padding: 10px;
}
.img-log img{
    width: 100%;
    height: 100%;
}
.button{
    width: 94%;
    border: 0;
    border-radius:5px;
    text-align: center;
    font-weight: 600;
}
.button:hover{
    opacity: 0.8;

}
.img-bg img{
    width: 100%;
    height: 100%;
}
