.week-btn {
    background-color: #eae8fd;
    color: #7376f0;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    /* width: 39%; */
    /* padding: 1rem; */
}
.week-btn1 {
    background-color: #dff7e9;
    color: #198754;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    /* width: 39%; */
    /* padding: 1rem; */
}

.card1 {
    border-right: 1px solid #dbdade;
    margin-bottom: 0.5rem;
    /* width:"41.6%"; */
}

.card2 {
    margin-bottom: 1rem;
}

@media(max-width:580px) {
    .card1 {
        padding-bottom: 3rem;
        border-right: none;
        border-bottom: 1px solid #dbdade;
    }
    /* .dropsdown{
        margin-left:none;
        margin-top: 2rem;
        align-items: start;
    } */
}

.dropsdown .dropsdown-width{
width:9rem;
}