.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logoIssued {
    background-color: rgba(232, 230, 252, 255);
    color: rgba(116, 105, 239, 255);
}

.logoReferrals {
    background-color: rgba(220, 246, 232, 255);
    color: rgba(44, 200, 113, 255);
}

.logoRedeemed {
    background-color: rgba(255, 239, 225, 255);
    color: rgba(255, 182, 114, 255);
}